version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - ruivieira
    reviewers:
      - ruivieira
    versioning-strategy: increase-if-necessary
