apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: evalhub-proxy-role
    app.kubernetes.io/component: kube-rbac-proxy
    app.kubernetes.io/created-by: trustyai-service-operator
    app.kubernetes.io/part-of: trustyai-service-operator
    app.kubernetes.io/managed-by: kustomize
  name: evalhub-proxy-role
rules:
  - apiGroups:
      - authentication.k8s.io
    resources:
      - tokenreviews
    verbs:
      - create
  - apiGroups:
      - authorization.k8s.io
    resources:
      - subjectaccessreviews
    verbs:
      - create
  - apiGroups:
      - trustyai.opendatahub.io
    resources:
      - evalhubs
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - trustyai.opendatahub.io
    resources:
      - evalhubs/proxy
    verbs:
      - get
      - create
      - update
