name: Tier 1 - Controller tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21.12'

      - name: Download & install envtest binaries
        run: |
          curl -sSL https://storage.googleapis.com/kubebuilder-tools/kubebuilder-tools-1.27.1-linux-amd64.tar.gz | tar -xz -C /tmp/
          


      - name: Test
        run: make test
        env:
          KUBEBUILDER_ASSETS: /tmp/kubebuilder/bin
