name: Controller Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '>=1.19.0'

      - name: Download & install envtest binaries
        run: |
          version=$(curl -s https://storage.googleapis.com/kubebuilder-tools/kubebuilder-tools-1.27.1-linux-amd64.tar.gz | tar -xz -C /tmp/ && echo $version)

      - name: Test
        run: go test ./test/...
        env:
          KUBEBUILDER_ASSETS: /tmp/kubebuilder-tools-1.27.1-linux-amd64/bin
